.container-suggestion {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  .title-suggestion {
    font-weight: 700;
    font-size: x-large;
  }
}
.button-group {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.page-title {
  font-weight: 700;
}
