.list-collaborator {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  .collaborator-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0 21%;
    margin: 5px;

    .collaborator-image {
      border-radius: 50%;
      height: 100px;
      margin-right: 25px;
    }
  }
}
